<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .rform{
          align-items: center;
          text-align: center;
          background-color: black;
          width: 35%;
          height: auto;
          color: aliceblue;
          border-radius: 20px;
          padding-bottom: 20px;
          margin-top: 20mm;
          padding-top: 5mm;
        }
        
    </style>
</head>
<body>
    <h1 align="center">
        SQL AND PYTHON
    </h1>
<div align="center">
    <div class="rform">
        <form action="/">
            <h2>Sign-Up</h2>
            <label for="rname"><pre>    name:<input type="text" id="rname" placeholder="Name" required><br></pre></label>
           
            <label for="mobile"><pre>  number:<input type="mobile" id="mobile" placeholder="Number"  required><br></pre></label>
            
            <label for="email"><pre>   email:<input type="email" id="email" placeholder="Email"  required><br></pre></label>
            
            <label for="password"><pre>password:<input type="password" id="password" placeholder="Password" required><br></pre></label>
            
            <input type="submit" >
           <p>Already have account:<a href="/login">login</a></p>
        </form>
    </div>
</div>
</body>
</html>